 
    .subscribe-button{
        background-color: rgb(201, 9, 9);
        border: none;
     /*   height: 36px;
        width: 105px; */
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;       
        text-align: center;
        border-radius: 2px;
        cursor: pointer;
        color: white;
        margin-right: 10px;
        transition: opacity 1s;
        vertical-align: top;
        
        
    }
    .subscribe-button:hover{
        opacity: 0.4;
        
    }
    .subscribe-button:active{
        opacity: 0.2;
        
    }


      /*  use padding insted of height and width its a good practice 
        */

    .join-button{
        color: blue;
        border-color: blue;
        background-color: white;
        /*height: 36px;
        width: 75px;
        */
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 16px;
        padding-right: 16px;
        border-width: 1px;
        margin-right: 10px;
        cursor: pointer;
        transition: background-color 1s , color 1s;
        vertical-align: top;
        
    }
    .join-button:hover{
        background-color: blue;
        color: white;
    }
    .join-button:active{
        opacity: 0.7;
    }
    .twitter-button{
         color: white;
         background-color: rgba(2, 158, 255, 0.849);
         border-radius :18px; 
         /*height: 36px;
         width: 90px;*/
         padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
         border: none;
         font-size: 15px;
         font-weight: bold;
         cursor: pointer;
         transition: box-shadow 0.15px;
         vertical-align: top;
         

    }
    .twitter-button :hover{
        color: white;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    }
